// 引入自定義的變數
@use "variables";
// 覆蓋 bootstrap 的變數要放置在引入 bootstrap 之前
// $primary:#7bacf4;
// 引入 bootstrap
// required（必要的部分）
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// optional（需要的部分)
@import "../node_modules/bootstrap/scss/buttons";


body {
  font-size: variables.$font-size;
  font-family: variables.$font-family;
  background-color: variables.$light-grayish-blue !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.testimonial {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 375px) {
    height: auto;
  }
  &__author {
    display: flex;
    gap: 10px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border: 3px solid variables.$content-color-light;
    border-radius: 50%;
    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap:7px;
  }
  &__name {
    &--light {
      font-size: 1.3rem;
      font-weight: 500;
      color: variables.$title-color-light;
    }
    &--dark {
      font-size: 1.3rem;
      font-weight: 500;
      color: variables.$title-color-dark;
    }
  }
  &__status {
    &--light {
      color: variables.$subtitle-color-light;
    }
    &--dark {
      color: variables.$subtitle-color-dark;
    }
  }
  &__title {
    &--light {
      font-size: 1.4rem;
      font-weight: 600;
      color: variables.$title-color-light;
    }
    &--dark {
      font-size: 1.4rem;
      font-weight: 600;
      color: variables.$title-color-dark;
    }
  }
  &__content {
    &--light {
      font-weight: 500;
      color: variables.$content-color-light;
    }
    &--dark {
      font-weight: 500;
      color: variables.$content-color-dark;
    }
  }
}
.testimonial__container {
  max-width: 1300px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 375px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    margin-block: 50px;
  }
}

.testimonial__block {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  box-shadow: 15px 8px 10px #e1e0e0c0;
  &--purple {
    background: variables.$moderate-violet url(../images/bg-pattern-quotation.svg) no-repeat top right 15%;
  }
  &--white {
    background: variables.$white;
  }
  &--gray {
    background: variables.$very-dark-grayish-blue;
  }
  &--black {
    background: variables.$very-dark-blackish-blue;
  }
  &--narrow {
    grid-column: span 1;
  }
  &--wide {
    grid-column: span 2;
  }
  &--tall {
    grid-row: span 2;
    @media (max-width: 375px) {
      order: 5;
    }
  }
}
